/* html START */

  html {
    font-family: roboto sans-serif;
  }

/* html END */

/* body START */

  body {
    display: flex;
    margin: 0 !important;
  }

/* body END */

/* header START */

  header {
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0px;
    height: 85px;
    background-color: white;
    display: flex;
    padding: 0px;
  }

  @media only screen and (max-width: 470px) {
    header {
      height: 48px;
    }
  }

/* header END */

/* nav START */

  ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
  }

/* nav END */

/* footer START */

  footer {
    background-color: #9b9b9b;
    display: flex;
    align-items: center;
    width: 100%;
    height: 62px;
  }

/* footer END */

/* footer-content START */

  .footer-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-content span {
    font-weight: normal;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-style: normal;
  }

  @media only screen and (max-width: 470px) {
    .footer-content span {
      font-size: 10px;
    }
  }

/* footer-content END */

/* content START */

 .content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin: 0;
   padding: 0;
  }

  li {
    list-style-type: none;
  }

/* content END */

/* desktop-logo START */

  .desktop_logo {
    padding-left: 30px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 20px;
    font-family: roboto-regular;
    line-height: 1.6;
    }

  @media only screen and (max-width: 470px) {
  .desktop_logo {
    display: none;
  }
  }

/* desktop-logo END */

/* desktop START */

  .desktop {
    justify-content: flex-end;
    float: right;
  }

  .desktop ul {
    display: flex;
  }

  .desktop a {
    color: #4a4a4a;
    font-size: 16px;
    font-family: roboto;
    line-height: 1.6;
    padding-right: 30px;
    float: right;
    text-decoration: none;
  }

  @media only screen and (max-width: 471px) {
    .desktop {
      display: none;
    }
  }

/* desktop END */

/* icon START */

  .icon {
    height: 16px;
    width: 16px;
    padding-left: 10px;
  }

/* icon END */

/* mobile START */

  .mobile ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .mobile {
    width: 100%;
  }

  @media only screen and (min-width: 470px) {
    .mobile {
      display: none;
    }
  }

/* mobile END */

/* button_1 START */

.button_1 {
  background-color: #9dc20b;
  border-radius: 4px;
  padding: 3px 8px;
  text-decoration: none;
  color: white;
}

  .button_1 a {
    text-decoration: none;
  }

/* button_1 END */

/* button_2 START */

  .button_2 {
    display: flex;
    margin: 26px 0px 56px 0px;
  }

  .button_2 a {
    width: 408px;
    height: 64px;
    background-color: #4a4a4a;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1.4;
    font-family: roboto;
    font-family: sans-serif;
  }

/* button_2 END */

/* main-content START */

  .main-content {
    position: relative;
    top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

/* main-content END */

/* sign-up-section START */

  @media only screen and (max-width: 850px) {
    #sign-up-section {
      display: flex;
      justify-content: center;
      align-items: center;
      }
  }

/* sign-up-section END */

/* banner START */

  .banner {
    height: 626px;
    background-image: url("../../resources/images/banner-landingpage.jpg");
    background-size: auto;
    width: 100%;
    background-position: right;
  }

/* banner END */

/* sign-up-cta START */

  #sign-up-cta {
    margin-top: 170px;
    margin-bottom: 170px;
    margin-left: 100px;
    width: 568px;
    background-color: #9dc20a;
    border: 1px solid #979797;
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 850px) {
    #sign-up-cta {
      background-color: transparent;
      border: none;
      margin: 0px;
      width: 100%;
    }
  }

/* sign-up-cta END */

/* content_center START */

  .content_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    justify-content: center;
  }

/* content_center END */

/* content_center_2 START */

  .content_center_2 {
    display: flex;
    align-items: center;
  }

  .content_center_2 span {
    color: #4a4a4a;
    text-align: center;
    font-family: palatino;
    font-style: italic;
    line-height: 1.1;
    font-size: 30px;
    padding-right: 30px;
  }

  @media only screen and (max-width: 470px) {
    .content_center_2 {
      flex-direction: column;
    }

    .content_center_2 span {
      font-size: 24px;
      line-height: 1.4;
    }
  }

/* content_center_2 END */

/* header START */

  .header {
    padding-top: 32px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h1, .header h2 {
    color: white;
  }

  .header h1 {
    font-size: 50px;
    line-height: 1.4;
    font-family: rubik, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
  }

  .header h2 {
    font-family: damion, cursive;
    margin: 0px;
  }

/* header END */

/* cursive START */



/* cursive END */

/* striking START */



/* striking END */

/* email START */

  .email {
    display: flex;
    flex-direction: column;
  }

  .email span {
    font-size: 20px;
    color: white;
    font-family: roboto;
    font-weight: normal;
    text-align: center;
  }

  @media only screen and (max-width: 850px) {
    .email {
      display: none;
    }
  }

/* email END */

/* features-section START */

  #features-section {
    height: 635px;
    margin: 45px 0px 27px 0px;
    display: flex;
    flex-direction: row;
  }

/* features-section END */

/* feature START */

  .feature {
    margin: 19px;
  }

/* feature END */

/* center START */

  .center img {
    height: 65%;
    width: 90%;
    padding: 32px 32px 40px 32px;
  }

/* center END */

/* images-container START */

  .images-container {
    padding: 80px 1% 64px 1%;
  }

/* images-container END*/

/* image-container START */



/* image-container END */

/* filters-section START */



/* filters-section END */

/* quotes-section START */

  #quotes-section {
    padding: 80px 0px;
  }

/* quotes-section END */

/* quote START */



/* quote END */

/* quote-citation START */



/* quote-citation END */

/* copyright START */

  .copyright {
    padding-left: 32px;
  }

/* copyright END */

/* location START */

  .location {
    padding-right: 32px;
  }

/* location END */
